@import 'bower_components/picnic/src/plugins';

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px
}

h1,
h2,
h3 {
  line-height: 1.2
}

.listr-list {
  @extend %card;
}

.listr-list__header {
  @extend %button.pseudo;
}

.listr-list--hidden :not(:first-child){
  display: none;
}

.listr-list__listr-item {
  list-style-position: inside;
}

.listr-list__listr-item--done {
  text-decoration: line-through;
}

